body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f8fafc;
    color: #1e293b;
    line-height: 1.7;
}

/* Header */
header {
    text-align: center;
    padding: 70px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #0f172a;
}

header p {
    font-size: 1.2rem;
    color: #475569;
}

/* Sections */
section {
    max-width: 900px;
    margin: auto;
    padding: 50px 20px;
}

h2 {
    font-size: 1.6rem;
    color: #2563eb;
    margin-bottom: 15px;
}

section p {
    font-size: 1.05rem;
    color: #334155;
}

/* Skills */
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
    font-size: 1.05rem;
}

/* Projects */
#projects p {
    font-size: 1.05rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 25px;
    background-color: #ffffff;
    border-top: 1px solid #e5e7eb;
    font-size: 0.9rem;
    color: #64748b;
}
#contact p {
    font-size: 1.05rem;
}

